.jumbotron
  %h1 Professional Ruby on Rails Training
  %p.lead Learn how to build beautifully crafted web applications with Ruby on Rails and get hired by top companies
  %p
    = link_to 'Apply now', apply_path, class: 'btn btn-lg btn-success'

%a{name: 'course'}
.row.marketing
  %h2.align-center What you will learn
  %br
  .col-lg-6
    %h3 Shell Scripting
    %p Learn all necessary commands and configurations. Understand bash syntax to write scripts.
    %h3 Version control with Git
    %p Track source code changes using Git. Learn collaborative development using GitHub.
    %h3 Programming in Ruby
    %p Learn ruby and solve interesting problems.
  .col-lg-6
    %h3 Ruby on Rails
    %p Build Web applications and RESTful APIs with Ruby on Rails. Learn essentials of HTML, CSS and JavaScript.
    %h3 Project management
    %p Know about various project management tools and methodologies.
    %h3 Production deployment
    %p Configure and deploy applications in production server.

.row.marketing.align-center
  %h3 Partner Companies
  %br

  .col-lg-3
    = link_to 'http://bangthetable.com', target: '_blank' do
      = image_tag 'bangthetable.jpg', class: 'partner'
  .col-lg-3
    = link_to 'http://bigbinary.com', target: '_blank' do
      = image_tag 'bigbinary.jpg', class: 'partner'
  .col-lg-3
    = link_to 'http://nilenso.com', target: '_blank' do
      = image_tag 'nilenso.png', class: 'partner'
  .col-lg-3
    = link_to 'http://hashcube.com', target: '_blank' do
      = image_tag 'hashcube.png', class: 'partner'

.row.marketing.align-center
  .col-lg-6{style: 'float: none; margin: 0 auto;'}
    %blockquote
      What we’re looking for are open-minded developers who are keen to learn and solve problems, and want to share their curiosity with us.
      %cite Deepa Venkatraman, Nilenso.
