.row
  .col-lg-12
    .align-center
      %h2 About
      %p.lead TalentSpace is a venture to fill the gap between people who are passionate about programming and software industry. We provide training and mentorship in latest technologies.
      %p.lead We are currently located at Kakkanad, Kochi.

    %hr

    .align-center
      %h2 Trainer Profiles
      %br
    .row
      .col-lg-3
        = image_tag 'http://ershadk.com/blog/wp-content/uploads/2015/08/DSC_9770_2.jpg', class: 'thumbnail', style: 'height: 220px;margin-top: 5px;'
      .col-lg-9.trainer-description
        %p.lead Ershad Kunnakkadan
        %p
          Ershad is a Software Developer from Kerala. He's interested in technology, entrepreneurship and learning new things together.
        %p
          Currently he lives in Kochi while working remotely for
          = link_to 'BigBinary', 'http://bigbinary.com'
          , a Florida based software services company. Earlier, he worked for
          = link_to 'Bang the Table', 'http://bangthetable.com'
          building
          = link_to 'Community Engagement', 'http://engagementhq.com'
          solutions for State and National Governments of Australia, New Zealand and Canada.
        %p
          He's a volunteer at
          = link_to 'Swathanthra Malayalam Computing.', 'http://smc.org.in'
          He has particiated in
          = link_to 'Google Summer of Code', "https://www.google-melange.com"
          for the same organization.
        %p
          He loves programming, traveling and
          = link_to 'photography', 'http://flickr.com/photos/ershad_k'
          \. He pushes code to
          = link_to 'GitHub', 'https:/github.com/ershad'
          , tweet through
          = link_to '@ershus', 'https:/twitter.com/ershus'
          and you can find his resume
          = link_to 'here', 'http://ershadk.com/resume/ershadk-resume.pdf'
          \.
        %p
          Email:
          = link_to 'ershad@talentspace.in', 'mailto:ershad@talentspace.in'
        %p
          Blog:
          = link_to 'ershadk.com', 'http://ershadk.com'

        %br


