= simple_form_for @submission, html: { class: 'apply bootstrap-center-form-medium' } do |f|
  %h3 Apply to Batch#1 (October 2015)
  .highlight
    %h4 Important notes
    %ul
      %li Admission is limited to a maximum of 10-15 students per batch.
      %li Admission will be based on the application submitted. We don't care about degree, percentage or arrears.
      %li You should have a working laptop.
      %li
        What you will learn:
        = link_to 'talentspace.in/#course', 'http://talentspace.in#course', target: '_blank'
    %h4 Training details
    %ul
      %li
        Location:
        %strong Kakkanad, Kochi. Kerala.
      %li Duration: 2 months
      %li Fees: ₹20000
      %li Timings: 10 AM to 4PM on Sundays.
      %li
        We will have a
        = link_to 'Slack', 'http://slack.com', target: '_blank'
        group for discussions.
      %li You will receive an email with schedule and other details once you are accepted.
      %li
        Write to
        = link_to 'ershad@talentspace.in', 'mailto:ershad@talentspace.in'
        for all queries.


  = f.input :name, width: 50, autofocus: true
  = f.input :email
  = f.input :phone_number, hint: 'Your 10 digit mobile number', label: 'Mobile number'
  = f.input :bio, label: 'Tell us about yourself',
            hint: "Include your programming experience if you have any"

  = f.input :sample_program,
            label: 'Write a program to convert UPPER CASE STRING to lower case in your favourite programming language (optional)'
  #sample_program

  .control-group.spam-check
    %label Content
    .controls
      = text_field_tag :content
  .align-center
    = f.submit 'Submit', class: 'btn btn-lg btn-success apply-submit'

:javascript
  jQuery(document).ready(function(){
    var editor = ace.edit("sample_program");

    var textarea = $('textarea[name="submission[sample_program]"]').hide();
    editor.getSession().setValue(textarea.val());
    editor.getSession().on('change', function(){
      textarea.val(editor.getSession().getValue());
    });
  });
