= simple_form_for @submission, html: { class: 'apply bootstrap-center-form-medium' } do |f|
  %h3 Apply to Batch#1 (October 2015)
  = f.input :name, width: 50
  = f.input :email
  = f.input :phone_number, hint: 'Your 10 digit mobile number', label: 'Mobile number'
  = f.input :bio, label: 'Tell us about yourself',
            hint: "Optional: Include your programming experience if you have any"
  = f.input :sample_program,
            label: 'Write a program to convert UPPER CASE STRING to lower case in your favourite programming language'

  = f.submit 'Apply', class: 'btn btn-lg btn-success'
