%h1 Submissions

%table.table
  %thead
    %tr
      %th No.
      %th Name
      %th Email
      %th Mobile
      %th Bio
      %th
  %tbody
    - @submissions.each_with_index do |submission, i|
      %tr
        %td= i + 1
        %td= submission.name
        %td= submission.email
        %td= submission.phone_number
        %td= submission.bio
        %td
          = link_to 'Show', submission
          = link_to 'Edit', edit_submission_path(submission)
          = link_to 'Delete', submission, :method => :delete, :data => { :confirm => 'Are you sure?' }
