%p
  %b Name:
  = @submission.name
%p
  %b Email:
  = @submission.email
%p
  %b Phone number:
  = @submission.phone_number
%p
  %b Bio:
  = @submission.bio
%p
  %b Sample program:
  = @submission.sample_program

= link_to 'Edit', edit_submission_path(@submission)
\|
= link_to 'Back', submissions_path
